<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title light">About</h1>
    
    <button class="button button-light dark right" ng-click="modal.hide();">
        X
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <p>
					The Gro app was designed to simplify the growing experience of large or even small scale operations. 
					The focus is on an easy to use application that keeps track of all day to day operations, and the various plants being grown.
				</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
