<!-- status row include -->
<div class="row plant-status-row">
  <div class="col center-text">
    <i class="icon ion-erlenmeyer-flask calm"></i>
    <p class="padding-top">
      6.1 - 6.4
    </p>
  </div>
  <div class="col center-text">
    <i class="icon ion-thermometer calm"></i>
    <p class="padding-top">
      81&deg;
    </p>
  </div>
  <div class="col center-text">
    <i class="icon ion-waterdrop calm"></i>
    <p class="padding-top">
      36%
    </p>
  </div>
</div><!-- end row -->
<!-- end status row include -->
