<ion-view view-title="{{ equipment.name }}">
  <ion-content>
    
    <div class="list card">
      <div class="item item-dark item-avatar">
        
        <h1>{{ equipment.name }}</h1>
        <p>
					Date Added: {{ equipment.created_date | date: 'longDate' : '+0700' }}<br>
					Expected End Of Life: {{equipment.eol }}<br>
					<br>
					Description: {{ equipment.description }}
					<br>
					<br>
				</p>
				<p>
          <a href="#" class="subdued" style="font-size: 1.5em;"><i class="icon ion-edit"></i></a>
					
					<a href="#" class="subdued" style="font-size: 1.5em;"><i class="icon ion-trash-a"></i></a>
        </p>
      </div>
    </div><!-- end the card -->
    
    
  </ion-content>
</ion-view>
