<ion-view view-title="Notes">
  <ion-content class="">
    <ion-list>
      <ion-item class="item-remove-animate item-dark item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!--<img ng-src="{{chat.face}}">-->
        <i class="icon ion-clipboard calm item-image"></i>
        <h2>Note title</h2>
        <p>
          Some text from the note.
          <br />
          12/5/15
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
