<ion-view view-title="Add Plant">
  <ion-content class="">
    <div id="add-plant">
      <div class="list">
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Strain</span>
          <input type="text" placeholder="Strain" ng-model="new_plant.strain">
        </label>
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Plant Date</span>
          <input type="text" placeholder="Plant Date" ng-model="new_plant.planted_date">
        </label>

        <div class="row">
          <div class="col pic-placeholder" ng-click="takePhoto(0);">
            <img src="" id="brad[0]">
          </div>
          <div class="col pic-placeholder" ng-click="takePhoto(1);">
            <img src="" id="brad[1]">
          </div>
        </div>

        <br />
        <div class="center-text">
          <button class="button button-calm" ng-click="savePlant()">
            <span class="dark">Save</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
