<ion-view>
  <ion-nav-title> {{ plant.strain }} </ion-nav-title>
  <ion-content>

    <div class="list card">
      <div class="item item-dark item-avatar" style="margin-bottom: 0;">

        <span class="plant-view-status">
          <i class="icon ion-record" style="color: {{ (plant.notifications.length > 0) ? 'yellow' : '#00ED4C' }} !important;"></i>
        </span>

        <h2>{{ plant.strain }}</h2>
        <p>Planted: {{ plant.date_planted | date: 'longDate' : '+0700'}}</p>
      </div>

      <div class="item item-dark item-body" style="padding-top: 0 !important; margin-top: 0;">
				
        <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="0">
          <ion-slide class="plant_img" ng-repeat="pic in plant.journals[0].pictures">
            <img src="https://grast.wreet.co/{{ pic }}" id="{{pic}}" />
          </ion-slide>
        </ion-slide-box>
				<p>
				 {{ plant.description }}
				</p>
        <p>
          <a href="#" class="subdued">{{ plant.notifications.length }} Notification(s)</a>
          <a href="#" class="subdued">{{ plant.journals.length - 1 }} Journal(s)</a>
					<span class="right">
          	<a ng-click="dosomething()" class="subdued" style="font-size: 1.5em;"><i class="icon ion-edit"></i></a>
          	<a ng-click="remove()" class="subdued" style="font-size: 2em;"><i class="icon ion-trash-a"></i></a>
					</span>
        </p>
      </div>
    </div><!-- end the card -->
    <ion-list>
      <ion-item class="item-remove-animate item-dark item-avatar item-icon-right" ng-repeat="notification in plant.notifications " type="item-text-wrap">
        <!--<img ng-src="{{chat.face}}">-->
        <i class="icon ion-alert assertive item-image"></i>
        <h2>{{ notification.title }}</h2>
        <p>
          {{ notification.text_field }}
          <br />
          {{ notification.created_date | date: 'longDate' : '+0700'}}
					<!-- {{ notification._id.$oid }} -->
        </p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <ion-option-button class="button-assertive" ng-click="remove(notification)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
		 <ion-list>
      <ion-item class="item-remove-animate item-dark item-avatar item-icon-right" ng-repeat="journal in plant.journals" ng-if="$index > 0" type="item-text-wrap">
        <i class="icon ion-ios-book calm item-image"></i>
        <h2>{{ journal.title }}</h2>
        <p>
          {{ journal.text_field }}
          <br />
          {{ journal.created_date | date: 'longDate' : '+0700'}}
					<!-- {{ notification._id.$oid }} -->
        </p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <ion-option-button class="button-assertive" ng-click="remove(notification)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
