<ion-view>
  <ion-nav-title> {{ plant.strain }} </ion-nav-title>
  <ion-content>

    <div class="list card">
      <div class="item item-dark item-avatar" style="margin-bottom: 0;">

        <span class="plant-view-status">
          <i class="icon ion-record"></i>
        </span>

        <h2>{{ plant.strain }}</h2>
        <p>Planted: {{ plant.date_planted | date: 'longDate' : '+0700'}}</p>
      </div>

      <div class="item item-dark item-body" style="padding-top: 0 !important; margin-top: 0;">
        <p class="center-text plant-cover-img" style="background-repeat: no-repeat; margin-top: 0; background-position: center center; height: 50vh; background-image: url(https://grast.wreet.co/{{ (plant.journals[0].pictures[0]) ? plant.journals[0].pictures[0] : 'assets/mj_grey.png'; }}); {{ (!plant.journals[0].pictures[0]) ? 'background-size: cover' : null; }}">
					&nbsp;
        </p>
				<p>
				 {{ plant.description }}
				</p>
        <p>
          <a href="#" class="subdued">{{ plant.notifications.length }} Notification(s)</a>
          <a href="#" class="subdued">{{ plant.journals.length }} Journal(s)</a>

          <a class="right subdued" style="font-size: 2em;" ng-click="remove()"><i class="icon ion-trash-a"></i></a>
        </p>
      </div>
    </div><!-- end the card -->


  </ion-content>
</ion-view>
