<ion-view view-title="Plants">
  <ion-content class="padding-top">

    <!-- first we have the plant status row -->
    <!-- it is included if this account has sensor equipment -->
    <ng-include src="'/templates/_plants_overview_status_row.html'"></ng-include>

    <!-- now we need to have a plant list -->
    <div class="row">

      <div class="col col-50 plant-item" ng-repeat="plant in plants">
        <a href="#/tab/plants/{{ plant.id }}" class="plant-link"></a>
        <div class="item item-dark plant-item-status-bar">{{ plant.strain }}</div>
        <div class="item item-dark item-image">
          <img ng-src="{{ plant.img }}" alt="weed yall">
        </div><!-- end image item div -->
        <div class="item item-dark item-icon-left plant-item-last-log">
          <i class="icon ion-ios-paper-outline calm"></i>
          {{ plant.planted_date }}
        </div>
      </div>

  </ion-content>
</ion-view>
