<ion-view view-title="Add Plant">
  <ion-content class="">
    <div id="add-plant">
      <div class="list">
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Strain</span>
          <input type="text" placeholder="Strain">
        </label>
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Plant Date</span>
          <input type="text" placeholder="Plant Date">
        </label>
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Image</span>
          <input type="text" placeholder="Image">
        </label>

        <br />
        <div class="center-text">
          <button class="button button-calm">
            <span class="dark">Save</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
