<ion-view view-title="Plants">
  <ion-content class="padding-top">
    <ion-refresher
      pulling-text="Refresh plants list..."
      on-refresh="refresh()">
    </ion-refresher>

    <!-- first we have the plant status row -->
    <!-- it is included if this account has sensor equipment -->
    <ng-include src="'/templates/_plants_overview_status_row.html'"></ng-include>

    <!-- now we need to have a plant list -->
    <div ng-repeat="row in plants" class="row">  
      <div class="col col-50 plant-item" ng-repeat="plant in row">
        <a href="#/tab/plants/{{ plant._id.$oid }}" class="plant-link"></a>
        <div class="item item-dark plant-item-status-bar {{ (plant.status) ? plant.status : null }}">{{ plant.strain }}</div>
        <div class="item item-dark item-image">
          <img ng-src="{{ plant.img }}" alt="weed yall">
        </div><!-- end image item div -->
        <p class="plant-footer">
          <a href="#" class="subdued">{{ plant.notifications.length }} <i class="icon ion-ios-information-outline"></i></a>
          <a href="#" class="subdued">5 <i class="icon ion-ios-paper-outline"></i></a>
        </p>
      </div>
    </div><!-- end row -->

  </ion-content>
</ion-view>
