<ion-view view-title="Add Plant">
  <ion-content class="">
    <div id="add-plant">
      <div class="list">
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Strain</span>
          <input type="text" placeholder="Strain" ng-model="new_plant.strain">
        </label>
        <label class="item item-dark item-input item-floating-label">
          <span class="input-label">Plant Date</span>
          <input type="text" placeholder="Plant Date" ng-model="new_plant.planted_date">
        </label>

        <div class="upload-array">
          <div class="pic-placeholder" ng-repeat="i in range(new_plant.images.length + 1) track by $index" ng-click="takePhoto($index)">
            <img src="" id="brad[{{ $index }}]">
          </div>
          <!-- more pictures will be inswertart here -->
        </div>

        <br />
        <div class="center-text">
          <button class="button button-calm" ng-click="savePlant()">
            <span class="dark">Save</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
