<ion-view view-title="Notifications">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-dark item-avatar item-icon-right" ng-repeat="notification in notifications" type="item-text-wrap" href="#/tab/notifications">
        <!--<img ng-src="{{chat.face}}">-->
        <i class="icon ion-alert assertive item-image"></i>
        <h2>{{ notification.title }}</h2>
        <p>
          {{ notification.text_field }}
          <br />
          {{ notification.created_date }}
					<!-- {{ notification._id.$oid }} -->
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(notification)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
