<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

  		<div class="item item-dark item-divider item-icon-right calm" style="background-color: #121212">
    		<span class="calm">
					General
					<i class="icon ion-gear-a icon-accessory calm"></i>
				</span>
  		</div>
			<ion-item class="item-dark" href="#/tab/###">
				<h2>Item</h2>
			</ion-item>

  		<div class="item item-dark item-divider item-icon-right calm" style="background-color: #121212">
				<span class="calm">
    			Connection
					<i class="icon ion-wifi icon-accessory calm"></i>
				</span>
			</div>
			<ion-item class="item-dark item-icon-right" ng-click="keyModal();">
				<h2>Authorization Key</h2>
			</ion-item>

  		<div class="item item-dark item-divider item-icon-right" style="background-color: #121212">
				<span class="calm">
					Help
					<i class="icon ion-help-circled icon-accessory calm"></i>
				</span>
  		</div>
			<ion-item class="item-dark item-icon-right" ng-click="supportModal();">
				<h2>Support</h2>
			</ion-item>
			<ion-item class="item-dark item-icon-right" ng-click="aboutModal();">
				<h2>About</h2>
			</ion-item>

    </ion-list>
  </ion-content>
</ion-view>
