<ion-view view-title="Lipan Garage">
  <ion-content class="padding">
    <!--
    <div class="list card">
      <div class="item item-divider">Overview</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col stat-window" onclick="location.hash='#/tab/plants';">
        <i class="icon ion-leaf calm"></i>
        <p>
          Plants (5)
        </p>
      </div>
      <div class="col stat-window" onclick="location.hash='#/tab/schedule';">
        <i class="icon ion-calendar calm"></i>
        <p>
          Schedule
        </p>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col stat-window" onclick="location.hash='#/tab/equipment';">
        <i class="icon ion-lightbulb calm"></i>
        <p>
          Equipment
        </p>
      </div>
      <div class="col stat-window" onclick="location.hash='#/tab/notes';">
        <i class="icon ion-document-text calm"></i>
        <p>
          Notes
        </p>
      </div>
    </div><!-- end row -->
  </ion-content>
</ion-view>
