<ion-view view-title="Lipan Garage">
  <ion-content class="padding">
    <div class="row">
      <div class="col stat-window" onclick="location.hash='#/tab/plants';">
        <i class="icon ion-leaf calm"></i>
        <p>
          Plants ({{ plants_noformat.length }})
        </p>
      </div>
      <div class="col stat-window" onclick="location.hash='#/tab/schedule';">
        <i class="icon ion-calendar calm"></i>
        <p>
          Schedule
        </p>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col stat-window" onclick="location.hash='#/tab/equipment';">
        <i class="icon ion-lightbulb calm"></i>
        <p>
          Equipment
        </p>
      </div>
      <div class="col stat-window" onclick="location.hash='#/tab/notes';">
        <i class="icon ion-document-text calm"></i>
        <p>
          Notes
        </p>
      </div>
    </div><!-- end row -->
  </ion-content>
</ion-view>
