.debug {
  border: 1px solid red !important;
}

.stat-window {
  text-align: center;
}

.center-text {
  text-align: center;
}

.stat-window i:first-child {
  font-size: 4em;
}

.stat-window p {
  margin-top: 10px;
}

.plant-status-row i {
  font-size: 3em;
}

.plant-item:nth-child(odd) {
  border-right: 1px solid rgba(70, 70, 70, .65);
}

.plant-item-status-bar:before {
  content: "";
  background: $calm;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 38%;
}

.plant-item .item {
  border: 0;
}

.plant-item-status-bar.status-yellow:before {
  background: yellow !important;
}



.plant-item-last-log {
  font-size: 1em !important;
}
