.debug {
  border: 1px solid red !important;
}

.stat-window {
  text-align: center;
}

.center-text {
  text-align: center;
}

.right {
  float: right;
}

.stat-window i:first-child {
  font-size: 4em;
}

.stat-window p {
  margin-top: 10px;
}

.plant-status-row i {
  font-size: 3em;
}

.plant-item {
  position: relative;
}

.plant-item:nth-child(odd) {
  // border-right: 1px solid rgba(70, 70, 70, .65);
  position: relative;
}

.plant-item-status-bar:before {
  content: "";
  background: $calm;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 38%;
}

.plant-item .item {
  border: 0;
}

.plant-item .plant-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.plant-item-status-bar.status-yellow:before {
  background: yellow !important;
}

.plant-item-last-log {
  font-size: 1em !important;
}

.floating-action-button {
  position: fixed;
  right: 3.5em;
  bottom: 5.5em;
  width: 4em;
  height: 4em;
  line-height: 4em;
  border-radius: 4em;
  text-align: center;
  background-color: $calm;
  color: $dark;
  z-index: 99;
	transition: all 0.2s ease-in-out;
}

.floating-action-button .icon {
  font-size: 1.25em;
}

.floating-action-button:hover {
	box-shadow: 0px 0px 12px 4px  #777;
	background-color: #61ff99;
	color: green;
}

textarea.dark {
  background-color: $main-bg;
  min-height: 3em;
}

.upload-array {
  display: flex;
  flex-flow: row wrap;
}

.pic-placeholder {
  border: 2px solid #777;
  border-radius: 0.5em;
  margin: 1em .5em 0 .5em;
  padding: 0px !important;
  height: 12em;
  position: relative;
  line-height: 12em;
  overflow: hidden;
  flex: 1 1 40%;
  max-width: 50%;
}

.pic-placeholder:after {
  content: "+";
  font-size: 4em;
  text-align: center;
  color: #777;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.pic-placeholder img {
  width: 100%;
}

.plant-view-status {
  position: absolute;
  left: 16px;
  top: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

.plant-view-status i {
  color: $calm;
  font-size: 24px;
}

.plant-cover-img {
}

.plant-footer {
  padding: 10px;
}

.plant-footer a:last-child {
  float: right;
}
